@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

@import url('https://fonts.googleapis.com/css?family=Sora:400, 500, 600, 700, 800, 900');

html {
  box-sizing: border-box;
  font: "Sora", normal 100%/1.3 "Montserrat", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(105, 102, 102);  
}

img {
  max-width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - Color Theme - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #00382B; }
.My-Color-Theme-2-hex { color: #1B5240; }
.My-Color-Theme-3-hex { color: #77AD9E; }
.My-Color-Theme-4-hex { color: #C1E0D2; }
.My-Color-Theme-5-hex { color: #F4F3E8; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(0, 56, 43, 1); }
.My-Color-Theme-2-rgba { color: rgba(27, 82, 64, 1); }
.My-Color-Theme-3-rgba { color: rgba(119, 173, 158, 1); }
.My-Color-Theme-4-rgba { color: rgba(193, 224, 210, 1); }
.My-Color-Theme-5-rgba { color: rgba(244, 243, 232, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(166, 100, 10, 1); }
.My-Color-Theme-2-hsla { color: hsla(160, 50, 21, 1); }
.My-Color-Theme-3-hsla { color: hsla(163, 24, 57, 1); }
.My-Color-Theme-4-hsla { color: hsla(152, 33, 81, 1); }
.My-Color-Theme-5-hsla { color: hsla(54, 35, 93, 1); }

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - Typography  - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
.hero-content p
{
  text-shadow: 1px 1px black;
  font-size: 1.25rem;
}
html {
  font-size: 100%;
} /*16px*/

a {
  color: #F4F3E8;
}

.sub-footer a {
  font-size: 1rem;
}

body {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

p {
  margin-bottom: 1rem;   
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  line-height: 1.3;
  color: white;
}

h1 {
  margin-top: 0;
  font-size: 1.802rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.602rem;
  text-transform: uppercase;
}

.about-content h2 {
  color: #00382B;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

small, .text_small {
  font-size: 0.889rem;
}

.about-content p {
  color: black;
  font-size: 1.2rem;
}

.hero-content .btn-wrap,
.about-content .btn-wrap {
  text-transform: uppercase;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - Nav Bar - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
.navbar {
  background-color: #77AD9E;
  padding: 1rem;
  margin: 0 auto;
  text-align: center; 
}

.nav ul {
  list-style-type: none;
  width: 100%;
  gap: 1rem;
  /* margin: 0 auto; */
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.nav a {
  color: #F4F3E8;
  text-decoration: none
}

.container {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 75em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Main - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
.hero {
  background: linear-gradient(to bottom, #0005, #0005), url(../img/hero-banner.jpg) center / cover no-repeat;
}

.hero-content {
  color: #F4F3E8;
  width: 100%;
  max-width: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
}

.nav li {
  text-decoration: none;
  background: linear-gradient(to bottom, #0009, #0009);
  color: #F4F3E8;
  /* border: 3px solid #F4F3E8; */
  border-radius: 15px;
  padding: 1rem;
}

.cards {
  background-color: #F4F3E8;
}

.cards .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-content: space-between;
}

.col {
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width:100%;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #77AD9E;
  gap: 1rem;
  border: 7px solid #77AD9E;
  border-radius: 15px;
  padding: 1rem;
  text-decoration: none;
  width: 100%;
  max-width: 20em;
  margin: 0 auto;
}

.card-img {
  background-color: #00382B;
  width: 100%;
  max-width: 10em;
  margin: auto auto;
  border-radius: 50%;
}

.card-content {
  text-decoration: none;
  margin: 0 auto;
  color: #F4F3E8;
  text-align: center;
}

.about {
  background-color: #C1E0D2;
  color: white;
}

/* to get about image to expand entire width in mobile */
.about .container {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.img-wrap {
width: 100%;
}

.about-content {
  color: #F4F3E8;
  width: 100%;
  max-width: 40em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - -  - - Footer - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
.footer .container  {
  background-color: rgb(105, 102, 102);
  text-align: center;
  width: 100%;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
.nav-footer ul,
.nav-footer ul li {
  list-style-type: none;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.btn {
  color: #F4F3E8;
  text-decoration: none;
}

.btn-wrap {
  background-color: #1B5240;
  border: 3px solid #1B5240;
  border-radius: 15px;
  padding: 1rem;
}
.nav-footer li {
  background: linear-gradient(to bottom, #0009, #0009);
  border-radius: 15px;
  padding: 1rem;
}

.nav-footer {
  padding: 1rem;
}

/* keeps the underline under the sub-footer links (desired) */
.nav-footer a {
  text-decoration: none
}

.sub-footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer > .container {
  padding: 2rem 1rem;
}

.sub-footer .container {
  background-color: #00382B;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #F4F3E8;
}

.sub-footer li {
  padding: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - MEDIA QUERY FOR TABLET - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
@media only screen and (min-width: 38em) {

  /* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - TYPOGRAPHY - -  - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
  a {
    font-size: 1.25rem;
  }


  .nav ul,
  .footer ul
  {
    flex-direction: row;
  }



  /* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - -  - - MAIN - -  - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
  .hero .hero-content{
    display: block;
    margin: 0 auto;
    padding: 5rem;
  }

  header li {
    width: 100%;
    max-width: 15em;
    margin: 0 auto;
  }

  .hero-content .btn,
  .about-content .btn {
    padding: 1rem 2rem;
    font-weight: bold;
    width: 100%;
    max-width: 15em;
  }

  .btn-wrap {
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .cards .col {
    padding: 1.5rem;
    justify-content: space-around;
    align-items: center;
    min-width: 20em;
  }

  .cards .container{
    flex-direction: column;
    justify-content: space-around;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
  .nav-footer li {
    background: linear-gradient(to bottom, #0009, #0009);
    border-radius: 15px;
    padding: 1rem;
    width: 100%;
    max-width: 15em;
  }
}
/* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - MEDIA QUERY FOR DESKTOP - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
@media only screen and (min-width: 60em) {

  /* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - TYPOGRAPHY - SCALING - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
  html {
    font-size: 100%;
  } /*16px*/

  body {
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    line-height: 1.75;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    line-height: 1.3;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.488rem;
  }
  
  h2 {
    font-size: 2.074rem;
  }
  
  h3 {
    font-size: 1.728rem;
  }
  
  h4 {
    font-size: 1.44rem;
  }
  
  h5 {
    font-size: 1.2rem;
  }
  
  small, .text_small {
    font-size: 0.833rem;
  }

  /* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - Nav Bar - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
.navbar {
  padding: 0rem;
}

.nav ul {
  display: flex;
  flex-direction: column;
}

.navbar .container {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
    
  }
  .navbar .logo {
    border-right: 3.5px solid #00382B;
    padding-right: 3rem;
  }
  /* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Main - - - -  - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */
  .hero .container .hero-content{
    display: block;
    margin: 0 auto;
    padding: 5rem;
  }

  .cards {
    padding: 5rem;
  }
  .cards .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
  }

  .cards .col {
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    min-width: 20em;
  }

  .card-content {
    text-decoration: none;
    margin: auto auto;
    width: 100%;
    max-width: 10em;
    color: #F4F3E8;
    font-weight: bold;
    text-align: center;
  }

  .about .container {
    display: flex;
    padding: 4rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .about img {
    border-radius: 50%;
  }

  .about .img-wrap {
    width: 33.3333%;
  }

  /* - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - Footer - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - */

  .nav-footer ul {
    flex-direction: row;
  }

  .nav-footer ul li{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;
    width: 100%;
    max-width: 15em;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
  }

  .sub-footer {
    position:absolute;
    padding: 1rem;
    left:0;
    right:0;
    width: 100%;
    background-color: rgba(0, 56, 43, 1);
  }
}
